/* stylesheet.css */
body {
	height: 100vh;
	background-image: linear-gradient(60deg, mediumseagreen, dodgerblue);
	max-height: 1080px;
	overflow: hidden;
	font-family: Inter, sans-serif;
}

h3 {
	font-size: 28px;
	margin: 12px 0 12px 0;
}

#divPrincipal {
	display: flex;
	flex-direction: column;
	margin: 100px auto 30px auto;
	background-color: ghostwhite; 
	border-radius: 20px 100px; 
	padding: 30px 30px 50px 24px; 
	text-align: center; 
	max-width: 500px;
}

#input-div {
	padding-left: 8px;
}

#enviar {
	margin: 24px 16px 24px 16px; 
	padding: 12px 24px; 
	font-size: 16px;
	border-color: lightseagreen;
	border-radius: 24px;
	color: lightgray;
	background-color: ghostwhite;
	transition: 0.15s;
}

#enviar:hover {
	color: rgb(82, 228, 220);
	border-color: rgb(62, 208, 200);
	transition: 0.35s;
	cursor: pointer;
	/*text-shadow: 1px 1px 2px lightgray;*/
	box-shadow: 0 1px 5px -2px rgb(82, 228, 220);

}

input {
	display: inline; 
	width: 200px;
}

.inputs {
	display: block;
	margin: 16px 0 16px 48%;
	text-align: right;
	width: 265px;
	transform: translateX(-50%);


}


#result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 50px auto;
	background-color: ghostwhite;
	border-radius: 20px;
	padding: 22px 28px 32px 28px;
	width: 380px;
	height: 200px;
}

.result-desc {
	margin-top: 12px;
	margin-bottom: 6px;
}

.result-display {
	text-transform: uppercase;
	font-size: 24px;
	color: rgb(62,208,200);
	margin: 0 0 0 8px;
	font-weight: 600;
}


@media screen and (max-width: 992px) {
	#divPrincipal {
		margin-top: 10%;
	}	
}

@media screen and (max-width: 500px) {
	#divPrincipal {
		max-width: 96vw;
	}	
}